<div class="cyclee-card">
    <% if review.photo.present? %>
      <div class="cyclee-card-image">
        <%= cl_image_tag review.photo.key, crop: :fill %>
      </div>
    <% end %>
  <div class="cyclee-card-contents">
    <div class="cyclee-card-user">
      <%# <%= image_tag "logo.png" %>
      <p><%= user.photo.present? ? (cl_image_tag user.photo.key, crop: :fill, class: "avatar") : (image_tag "logo.png", crop: :fill, class: "avatar") %></p>
    </div>
    <div class="text-content">
      <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
      <p><%= review.comment %></p>
      <br>
      <p><%= review.rating %><i class="fa-solid fa-star"></i></p>
    </div>
  </div>
</div>
