<div class="cyclee-card">
  <div class="cyclee-card-contents">
    <div class="cyclee-card-user">
      <div class="user-profile">
        <%= user.photo.present? ? (cl_image_tag user.photo.key, crop: :fill, class: "avatar") : (image_tag "logo.png", crop: :fill, class: "avatar") %>
      </div>
      <p class="user-name"><%= user.first_name %> <%= user.last_name %></p>
    </div>
    <div class="review-content">
      <div class="star-rating">
        <% review.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
      </div>
      <p><%= review.comment %></p>
    </div>
  </div>
  <% if review.photo.present? %>
    <div class="review-img-wrap">
      <%= cl_image_tag review.photo.key, crop: :fill %>
    </div>
  <% end %>
</div>
