<div class="cyclee-card">
  <div class="cyclee-card-image">

    <%= review.photo.present? ? (cl_image_tag review.photo.key, crop: :fill) : (image_tag "bike-lane.jpeg", crop: :fill) %>
  </div>
  <div class="cyclee-card-contents">
    <div class="cyclee-card-user">
      <%= image_tag "logo.png" %>
    </div>
    <div class="text-content">
      <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
      <p><%= review.comment %></p>
      <br>
      <p><%= review.rating %><i class="fa-solid fa-star"></i></p>
    </div>
  </div>
</div>



<%# --- %>
