<div class="review-card">
  <div class="review-card-content">
    <div class="user-wrap">
      <div class="user-img-wrap">
        <%= user.photo.present? ? (cl_image_tag user.photo.key) : (image_tag "logo.png") %>
      </div>
      <p class="user-name"><%= user.first_name %> <%= user.last_name %></p>
   </div>
    <div class="review">
      <div class="star-rating">
        <% review.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
      </div>
      <p><%= review.comment %></p>
    </div>
  </div>
  <% if review.photo.present? %>
    <div class="review-card-img-wrap">
      <%= cl_image_tag review.photo.key, crop: :fill %>
    </div>
  <% end %>
</div>
