<div class="cyclee-card">
  <div class="cyclee-lane cyclee-big cyclee-red">
  <p><%=  lane.name %></p>
  <i class="fa-solid fa-angle-right fa-xl"></i>
  </div>
  <br>
  <%= link_to "Review", new_lane_review_path(@lane), class: "btn btn-cyclee3" %>
  <br>

  <div class="cyclee-card-image">
    <%= image_tag "logo.png" %>
  </div>
  <div class="cyclee-card-contents">
    <div class="cyclee-card-user">
      <%= image_tag "logo.png" %>
    </div>
    <div class="text-content">
      <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
      <p><%= review.comment %></p>
      <br>
      <p><%= review.rating %><i class="fa-solid fa-star"></i></p>
    </div>
  </div>
</div>



<%# --- %>
