<div class="cyclee-card">
  <% if report.photo.present? %>
    <div class="cyclee-card-image">
      <%= cl_image_tag report.photo.key, crop: :fill %>
    </div>
  <% end %>
  <div class="cyclee-card-contents">
    <div class="cyclee-card-user">
      <p><%= report.user.photo.present? ? (cl_image_tag report.user.photo.key, crop: :fill, class: "avatar") : (image_tag "logo.png", crop: :fill, class: "avatar") %></p>
    </div>
    <div class="text-content">
      <p><strong><%= report.user.first_name %> <%= report.user.last_name %></strong></p>
      <p class="incident"><%= report.date %></p>
      <p class="text-content"><%= report.comment %></p>
    </div>
  </div>
</div>
