<div class="review-card">
  <div class="review-card-content">
    <div class="user-wrap">
      <div class="user-img-wrap">
        <%= report.user.photo.present? ? (cl_image_tag report.user.photo.key) : (image_tag "logo.png") %>
      </div>
      <p class="user-name"><%= report.user.first_name %> <%= report.user.last_name %></p>
    </div>
    <div class="review">
      <p><%= report.date %></p>
      <p><%= report.comment %></p>
    </div>
  </div>
  <% if report.photo.present? %>
    <div class="review-card-image-wrap">
      <%= cl_image_tag report.photo.key, crop: :fill %>
    </div>
  <% end %>
</div>
