<div class="container">
  <%# <div class="toggle-wrap">
    <div class="slider-toggle" data-action="click->slider#slideToggle"></div>
  </div> %>
  <div class="lane-wrap">
    <div class="cyclee-lane cyclee-big
      <% if @avgrating.zero? %>
        <%= 'cyclee-grey' %>
      <% elsif @avgrating <= 2 %>
        <%= 'cyclee-red' %>
      <% elsif @avgrating == 3 %>
        <%= 'cyclee-yellow' %>
      <% elsif @avgrating > 3 %>
        <%= 'cyclee-green' %>
      <% end %>" %>
        <p><%= @lane.name %></p>
        <i class="fa-solid fa-angle-right fa-xl"></i>
    </div>
    <div class="lane-details">
      <p class="lane-type">Lane Type: <%= @lane.lane_type %></p>
      <p class="lane-rating"><%= @avgrating.zero? ? "No ratings for this lane yet" : "Rating: #{@avgrating}" %></p>
    </div>
    <%= link_to "Review", new_lane_review_path(@lane, objectid: @lane.objectid), class: "btn btn-cyclee3" %>
  </div>
  <% @reviews.each do |review| %>
    <%= render "shared/lanereviewcard", user: review.user, review: review, lane: @lane %>
  <% end %>
</div>
