<div data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-lanes-name-value="<%= @lane.name.to_json %>"
      data-map-lanes-coordinates-value="<%= @lane.coordinates %>"
      data-map-objectID-value="">
  <div id="map"
        data-map-target="wrapper"
        data-controller="slider">
    <div class="toggle-wrap"
          data-controller="hide-create-toggle">
      <div class="create-container"
            data-hide-create-toggle-target="create">
        <div class="toggle map-new-parking-toggle">
          <%= link_to new_parking_location_path(@parking_location) do %>
          <i class="fa-solid fa-plus fa-2xl icon"
              data-show-markers="true"
              data-action="click->map#add"></i>
          <% end %>
        </div>
      </div>
      <div class="toggle map-parking-toggle"
            data-action="click->hide-create-toggle#hide">
        <i class="fa-solid fa-square-parking icon"
            data-show-markers="true"
            data-action="click->map#toggle"></i>
      </div>
    </div>
    <div class="slider-wrap"
          data-slider-target="wrap">
      <div class="container"
            data-map-target="lanepartial"></div>
    </div>
  </div>
  <div data-map-target="button">
    <%= link_to "Exit", root_path, data: {map_target: "exit"}, class: "btn btn-cyclee1 d-none" %>
  </div>
</div>
