<div class="new-parking-container">

  <h1>New Parking Location:</h1>

  <div class="map-search-wrap">
    <div class="map-wrap">
      <div data-controller="parking"
        data-parking-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div id="parkingmap" style="width: 350px; height: 300px;"
            data-parking-target="parker"
            data-parking-markers-value="<%= @markers.to_json %>">
        </div>
      </div>


    </div>
    <%= simple_form_for @parking_location do |f| %>
      <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%= f.submit :create, class: "btn btn-cyclee1" %>
    <% end %>
  </div>
  </div>
</div>
