<br>
  <div data-controller="parking"
        data-parking-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div id="parkingmap" style="width: 350px; height: 300px;"
        data-parking-target="parker"
        data-parking-markers-value="<%= @markers.to_json %>"></div>
  </div>

 <%# <%= link_to "Create", new_parking_location(parking_location), class: "btn btn-cyclee2" %>

<div>
<button class="btn btn-cyclee3" data-controller="location-button" data-action="click->location-button#show">
Get Current Location!
</button>
<p class="d-none" data-location-button-target="content">
</div>

<%= simple_form_for(@parking_locations) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit %>
<% end %>

<%= link_to "Create", new_parking_location_path(@parking_location), class: "btn btn-cyclee2" %>

<%= render "shared/footer" %>


<%# -- %>
<%# <%= link_to "Get Current Location", root_path, class: "btn btn-cyclee3" %>
<%# <%= current_user.parking_histories.last.parking_location.address %>
