<div class="review-container">
  <div class="cyclee-lane cyclee-big
    <% if @avgrating.nil? %>
      <%= 'cyclee-grey' %>
    <% elsif @avgrating <= 2 %>
      <%= 'cyclee-red' %>
    <% elsif @avgrating == 3 %>
      <%= 'cyclee-yellow' %>
    <% elsif @avgrating > 3 %>
      <%= 'cyclee-green' %>
    <% end %>" %>
      <p><%= @lane.name %></p>
      <i class="fa-solid fa-angle-right fa-xl"></i>
  </div>
  <div class="form-review">
    <%= simple_form_for [@lane, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Tell us about your experience with this lane:", input_html: { data: {controller: "star-rating"} } %>
      <%= f.input :comment, input_html: { class: "input comment" } %>
      <%= f.input :photo, as: :file, input_html: { class: "input photo" } %>
      <%= f.submit 'Submit', class: "btn btn-cyclee1" %>
    <% end %>
  </div>
</div>
