<div class="cyclee-card-image report-new d-flex justify-content-center align-items-center">
  <div class="cyclee-report-card-address report-index">
    <i class="fa-solid fa-flag fa-2x"></i>
    <div class="cyclee-report-card-title">
      <h2 class="m-0"><%= @parking_location.address %></h2>
      <p><%= @reports.count %> reported incidents of theft or damage.</p>
    </div>
  </div>
</div>
<div class="container report-new">
  <h2>How was your experience with this parking spot?</h2>
  <%= simple_form_for([@parking_location, @report]) do |f| %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :comment %>
    <%= f.input :photo %>
    <%= f.button :submit, value: 'Submit', class: "btn-cyclee2" %>
    <% end %>
</div>
