<div class="new-report-container">

  <div class="parking-wrap">
    <div class="cyclee-report-card-address report-index">
      <% if @parking_location.reports.present? %>
        <i class="fa-solid fa-square-parking report"></i>
      <% else %>
        <i class="fa-solid fa-square-parking no-report"></i>
      <% end %>
        <div class="cyclee-report-card-title">
          <p class="m-0 address"><%= @parking_location.address %></p>
          <p class="incidents"><%= @reports.count %> reported incidents of theft or damage.</p>
        </div>
    </div>
  </div>

  <div class="form-new-report">
    <h2>Tell us what happened:</h2>
    <%= simple_form_for([@parking_location, @report]) do |f| %>
      <%= f.input :date, input_html: { class: "input date" } %>
      <%= f.input :time, input_html: { class: "input time" }  %>
      <%= f.input :comment, input_html: { class: "input comment" }  %>
      <%= f.input :photo, input_html: { class: "input photo" }  %>
      <%= f.button :submit, value: 'Submit', class: "btn-cyclee1" %>
      <% end %>
  </div>


</div>
