<!DOCTYPE html>
<html>
  <head>
    <title>RailsCyclee</title>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <script src="https://kit.fontawesome.com/75388dd286.js" crossorigin="anonymous"></script>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
  <%= render "shared/flashes" %>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">


    <%= yield %>

   <div class="footer-cyclee">
  <%= link_to root_path do %>
    <i class="fa-solid fa-location-dot fa-2xl"></i>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fa-solid fa-person-biking fa-2xl"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-person-biking fa-2xl"></i>
    <% end %>
  <% end %>
</div>

  </body>
</html>
